/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  background-color: #141414;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
	border-color: transparent;
	-webkit-text-fill-color: inherit;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
 }*/

/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
 ::-moz-placeholder,
 :-ms-input-placeholder,
 :-moz-placeholder {
	color: rgba(52, 49, 61, 0.5);
	opacity: 1;
 }*/

/* FOCUS */

*:focus {
  outline: 2px dashed var(--orange);
  outline-offset: 3px;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 384px;
  width: 100%;
  padding: 40px;
  margin: 0 auto;
  background-color: #1f1f1f;
  border-radius: 12px;
}

.profile-card__img {
  display: block;
  border-radius: 50%;
  margin-bottom: 24px;
}

.profile-card__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.profile-card__country {
  margin-top: 4px;
  margin-bottom: 24px;
  color: #c4f82a;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}

.profile-card__text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.profile-card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-top: 24px;
  padding: 0;
  list-style-type: none;
}

.profile-card__link {
  min-width: 304px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 12px;
  background: #333333;
  border-radius: 8px;
}

.profile-card__link:hover {
  cursor: pointer;
  background-color: #c4f82a;
  color: #333333;
}

.profile-card__link:active {
  opacity: 0.6;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
